<% include partials/header %>

<style type="text/css">
	table.tableizer-table {
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}
</style>

<div class="ui container">
	<h1>Listado de miembros</h1>
	
	<table class="tableizer-table">
	<thead><tr class="tableizer-firstrow"><th>Select</th>
	<th>Email</th><th>Nivel</th>
	<th>Apodo</th><th>Nombre</th>
	<th>Apellido</th><th>Email</th>
	<th>Pais</th><th>Estado</th>
	<th>Fecha de Nacimiento</th><th>Profesion</th>
	<th>Red Social 1</th><th>Red Social 2</th>
	<th>Cedula</th>
	<th>Colaboraciones</th>
	<th>Fecha de Ingreso</th>

	</tr></thead><tbody>
	<% User.forEach(function (User) { %>
	<tr><td><a href="./members/<%= User._id %>">Modificar</a></td>
	<td><%= User.username %></td><td><%= User.level %></td>
	<td><%= User.nickname %></td><td><%= User.firstName %> </td>
	<td><%= User.lastName %></td><td><%= User.username %></td>
	<td><%= User.country %></td><td><%= User.state %></td>
	<td><%= User.nacimiento %></td><td><%= User.profesion %></td>
	<td><%= User.redSocial1 %></td><td><%= User.redSocial2 %></td>
	<td><%= User.cedula %></td>
	<td><%= User.otras %></td>
	<td><%= User.created_date %></td>
	<% }) %>
	</tbody>
	</table>
	
	
	<a href="/dashboard"><button class="ui button">Haz click aqui para regresar a tu espacio personal.</button></a>
</div>



<% include partials/footer %>