<% include ../partials/header %>

<div class="ui container">
    <div class="ui breadcrumb">
        <a href="/dashboard" class="section">Menu principal</a>
        <i class="right angle icon divider"></i>
        <a href="/forum" class="section">Foro</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Intranet</div>
    </div>
    <h1>Foro Intranet</h1>
    <a href="/forum/intranet/new">
        <button class="ui primary button very padded">Nuevo Post</button>
    </a>
</div><br>

<% Post.forEach(function (Post) { %>
<div class="ui container">    
    <div class="ui segment padded raised"> 
        <a href="/forum/intranet/<%= Post._id %>">
        <h3><%= Post.title %></h3>
        <strong><span>Creado por: &nbsp;</strong></span><%= Post.creator %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong><span>Fecha: &nbsp;</span></strong> <%= Post.lastDateUpdated %> <br><br>
        <%= Post.comment %>
        <br>
    </div> 
</div></a>
<% }) %>

<% include ../partials/footer %>