<% include ../partials/header %>


<div> 
    <br>
    <%= Post.title %> <br>
    <span>Por: </span><%= Post.nickname %> <span>Actualizado: </span> <%= Post.lastDateUpdated %>
    <br>
    <%= Post.comment %>
</div> 


<div>
    <form action="" method="POST">
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <button>Enviar</button>
    </form>
</div>


<% Comment.forEach(function (result) { %>
    <div> 
        <br>
            <span>Por: <%= result.creator %></span> <span>Fecha: <%= result.commentDate %></span> <br>
            
            <%= result.comment %> <br>
    
            <br>
        </div> 
<% }) %>

<% include ../partials/footer %>