<% include ../partials/header %>

<p>Here is the general forum.</p>

<a href="/forum/proyectos_new">Nuevo Post</a> <br>


<% Post.forEach(function (Post) { %>
<a href="/forum/proyectos/<%= Post._id %>"> 
<div> 
    <br>
    <%= Post.title %> </a> <br>
    <span>Por: </span><%= Post.creator %> <span>Actualizado: </span> <%= Post.lastDateUpdated %> <br>
    <%= Post.comment %>
    <br>
</div> 
<% }) %>

<% include ../partials/footer %>